* {
    padding: 0;
    margin: 0;
    font-family: 'Copperplate', fantasy;
}

.background {
    background-color: #fdf3f3;
    height: 100vh;
    padding-top: 1px;
}

.title {
    color:#562142;
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
}

.display {
    color:  #8c068e;
    font-size: 27px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;

}

.tile {
    border: 1px solid rgb(108, 24, 24);
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    
}
.playerX {
    color: #173f2c;
}

.playerO {
    color: #412d9a;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: rgb(12, 12, 12);
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}

.restart {
    background-color: #131514;
}

#reset {
    background-color: #d60e5e;
}